<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airport add form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav th:replace="fragments :: navbar(title='main')"></nav>
<div class="container">
<h1>Add airport</h1>
<form th:object="${airport}" th:action="@{/add-airport}" method="post">
    <div class="mb-3">
        <label class="form-label"> Airport name </label>
        <input class="form-control"  type="text" placeholder="Airport name" th:field="*{name}"
               th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : (${#fields.hasErrors()} ? 'is-valid' : '')">
        <div class="invalid-feedback" th:errors="*{name}"></div>
        <label> Location </label>
        <select type="text" class="form-control" th:field="*{location}">
            <option
                    th:each="location : ${locations}" th:value="${location.id}"
                    th:text="${location.getFullLocation()}">
            </option>
        </select>
        <div class="col-12">
            <button type="submit" class="btn btn-primary"> Create Airport </button>
        </div>
    </div>
</form>
</div>
</body>

</html>