<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="fragments :: navbar(title='main')"> </nav>

<h1> Strona główna</h1>

<a th:href="@{/list-tour}">
    <img src='http://foto-hosting.pl/img/e8/c5/25/e8c5256577b61ff1aacff11bf6bfdedb01f6ba71.jpeg' alt='obraz wycieczek'
    width="400" height="400">
</a>
<a th:href="@{/user-list}"> <img src='http://foto-hosting.pl/img/b1/f6/f8/b1f6f857d55ed5f34d4aa1715b5aa8441f46fdda.jpeg' alt='uzytkownik'
    width="400" height="400">
</a>
<a th:href="@{country-list}"> <img src='http://foto-hosting.pl/img/0f/93/c4/0f93c47633cfd307b01b28d51b0cc90e0bb67176.jpeg' alt='kraje'
    width="400" height="400">

</a>
</body>
</html>