<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista wycieczek</title>
</head>
<body>
<h1>Lista wycieczek</h1>
<table>
    <tr>
        <th>Liczba uczestników</th>
        <th>Kraj</th>
        <th>Cena</th>
        <th>Dostępność</th>
    </tr>
    <tr th:each="tour: ${tours}">
        <td th:text="${tour.numberOfParticipants}"></td>
        <td th:text="${tour.country}"></td>
        <td th:text="${tour.price}"></td>
        <td th:text="${tour.available}"></td>
    </tr>
</table>
</body>
</html>