<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Krajów</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
                                      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="conteiner">
<body>
<nav th:replace="fragments :: navbar(title='main')"> </nav>

<h1 style="text-align: center;"
    class="border border-4 border-dark p-3 mb-2 bg-info bg-opacity-25 text-black">Lista krajów</h1>
<table class="table">
    <thead>

    <tr style="text-align: center;">
        <th>Nazwa kraju</th>
        <th>Region</th>
        <th>Miasto</th>
        <th>Aktualizacja</th>
        <th>Usuwanie</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align: center;" th:each="location: ${locations}">
        <td th:text="${location.name}"></td>
        <td th:text="${location.region}"></td>
        <td th:text="${location.city}"></td>
        <td> <a th:href="@{/update-location/{id}(id=${location.id})}"> <button> Aktualizuj </button> </a></td>
        <td> <a th:href="@{/delete-location/{id}(id=${location.id})}"> <button> Usuń </button> </a></td>
    </tr>
    </tbody>

</table>
<br>
<button> <a class="btn btn-primary" role="button" th:href="@{/location-add}"> Dodaj miejsce </a><strong></strong></button>
</body>
</div>
</html>