<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update tour</title>
</head>
<body>
<h1> Tour update</h1>
<form th:object="${tour}" method="post">

         <input type="hidden" th:field="*{id}">
    <br>
    <label>
        Ilość uczestnikow wyczieczki: <input type="number" th:field="*{numberOfParticipants}">
    </label>
    <label>
        Kraj: <input type="text" th:field="*{country}">
    </label>
    <label>
        Cena wycieczki: <input type="text" th:field="*{price}">
    </label>
    <input type="submit" value="Update Tour">
</form>
</body>
</html>