<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj wycieczkę</title>
</head>
</body>
<body>
<h1>Tworzenie wycieczki</h1>
<form th:object="${tour}" method="post">
  <label>
    Ilość uczestnikow wyczieczki: <input type="number" th:field="*{numberOfParticipants}">
  </label>
  <label>
    Kraj: <input type="text" th:field="*{country}">
  </label>
  <label>
    Cena wycieczki: <input type="text" th:field="*{price}">
  </label>
  <input type="submit">
</form>
</body>
</html>