<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zmiana danych użytkownika</title>
</head>
<body>
<nav th:replace="fragments :: navbar(title='main')"> </nav>

<h1> Zmiana danych użytkownika </h1>
<form th:object="${user}" method="post">

    <input type="hidden" th:field="*{id}">

    <br>
    <label>
        Imię: <input type="text" th:field="*{firstName}">
    </label>
    <label>
        Nazwisko: <input type="text" th:field="*{lastName}">
    </label>
    <label>
        Telefon:  <input type="text" th:field="*{mobile}">
    </label>
    <label>
        Email: <input type="text" th:field="*{email}">
    </label>
    <input type="submit" value= "Zmień dane użytkownika">
</form>

</body>
</html>