<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista użytkowników</title>
</head>
<body>
<nav th:replace="fragments :: navbar(title='main')"> </nav>

<h1>Lista użytkowników</h1>
<table>
    <tr>
        <th>ID użytkownika</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Telefon</th>
        <th>Email</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.mobile}"></td>
        <td th:text="${user.email}"></td>
        <td> <a th:href="@{/update-user/{id}(id = ${user.id})}"> UPDATE </a> </td>
        <td> <a th:href="@{/delete-user/{id}(id = ${user.id})}"> DELETE </a> </td>
    </tr>
</table>
<br>
<button> <a th:href="@{/user-add}"> Dodaj użytkownika </a>   <strong></strong></button>
</body>
</html>