<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuń.</title>
</head>
<div class="conteiner">
<body>
<nav th:replace="fragments :: navbar(title='main')"> </nav>

<h1> Usuwanie użytkownika. </h1>
<form th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    <h3> Czy napewno chcesz usunąć użytkownika? </h3>
    <br>
    <input class="btn btn-primary" type="submit" value="TAK">
    <br>

    <button> <a class="btn btn-primary" th:href="@{/user-list}">NIE (wróć do listy użytkowników)</a> </button>

</form>

</body>
</div>
</html>