<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tworzneie użytkownika</title>
</head>
</body>
<body>
<form th:object="${user}" method="post">
    <label>
        Imię: <input type="text" th:field="*{firstName}">
    </label>
    <label>
        Nazwisko: <input type="text" th:field="*{lastName}">
    </label>
    <label>
        Telefon: <input type="text" th:field="*{mobile}">
    </label>
<h1>Tworzenie użytkownika</h1>
    <label>
        Email: <input type="text" th:field="*{email}">
    </label>
    <input type="submit" value="Dodaj">



</form>


</body>
</html>